<div class="c top60">
    <div class="con bottominfo">
        <ul class="bottomnav">
            {% for item in site.data.footer %}
            <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="firlink">
            <span>友情链接：</span>
            {% for friendLink  in site.data.friendLinks %}
            <a href="{{ friendLink.link }}">{{ friendLink.name }}</a>
            {% endfor %}
        </div>
        <span class="icp"></span>
        <span class="address"></span>
    </div>
</div>

<script src="/assets/js/vendor/jquery.js"></script>
<!--<script src="/assets/js/jquery-1.11.1.min.js"></script>-->
<script src="/assets/js/foundation.min.js"></script>
<script src="/assets/js/layer.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/jweixin-1.2.0.js"></script>
<script src="/assets/js/vendor/modernizr.js"></script>
<script src="/assets/js/toc.js"></script>
<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>