{% include header.html %}
<div class="c white">
    <div class="nav show">
        <ul>
            {% include navigation.html %}
        </ul>
    </div>
</div>
<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div class="c top20">
            <div class="con">
                {{ content }}
                {% include sidebar.html %}
            </div>
        </div>
        <ul class="toolbtn">
            <!--<li class="toolsubmi"><a title="投稿"></a></li>-->
            <li class="toup hide" title="滑到顶部"></li>
        </ul>
    </section>
</div>
{% include share.html %}
{% include footer.html %}
