---
layout: default
---
<div class="detailcontent">
    <div class="detail">
        <div class="detailcon">
            {% assign authors = site.authors |  where: 'name', page.author  %}
            <a title="{{ page.title }}" href="{{ authors.first.url}}" class="detailuser">
                <img alt="{{ page.title }}" src="/assets/images/users/{{ page.avatar }}">
                <span>
                    <font class="username">{{ page.author }}</font>
                    <font class="date">{{ page.date | date_to_string }}</font>
                </span>
            </a>
            <div class="arttag">
                {% for tag in page.tags %}
                <a  title="{{ tag }}" href="{{ site.baseurl }}/blog/tags/{{ tag }}" class="t{{ forloop.index }}">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="detailadoc">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="comment" id="Comment">
        <div class="recomment">
            <textarea id="TBComment" class="colorgray">期待你的论...</textarea>
            <span class="btn right right" onclick="SubmitCommentByArt(3317370)">评论</span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
        var gitalk  = new Gitalk ({
            id: window.location.pathname,   // Ensure uniqueness and length less than 50
            clientID: '{{site.comment_gitalk_clientId}}',
            clientSecret: '{{site.comment_gitalk_clientSecret}}',
            repo: '{{site.comment_gitalk_repo}}',
            owner: '{{site.github_username}}',
            admin: ['{{site.github_username}}'],
            distractionFreeMode: false  // Facebook-like distraction free mode
        });
        gitalk.render('Comment')
    </script>
</div>
